html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #050505;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  display: block;
  outline: none;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink-animation 1s infinite;
}

.lil-gui {
  z-index: 100000 !important;
}